body {
    font-family: Arial, sans-serif;
    background-color: #DEB887;
    color: #1c1e21;
    margin: 0;
    padding: 0;
}

header {
    background-color: #C7C7B9;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

main {
    display: flex;
    min-height: calc(100vh - 80px); 
}

.sidebar {
    width: 250px;
    background-color: #483C32;
    color: #F0EFE3;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar li:hover, .sidebar li.active {
    background-color: brown;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.conteudo {
    flex-grow: 1;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: maroon;
    color: #fff;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}